.grid-cards{    
    /* display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    margin-top: 30px;
    justify-items: center;
    align-items: center; */
    grid-gap: 26px;
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(auto-fill,170px);
    margin-top: 30px;
    place-content: center;
}