@tailwind base;
@tailwind components;
@tailwind utilities;
:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0A1612;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}
.nav-rigth :hover{
  color: #d69511;
}


body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  
  cursor: pointer;
  transition: border-color 0.25s;
}
li{
  border-left: 1px solid #c4baba;
  padding-inline: 5PX;
  align-items: center;
}
footer a{
  color: #191919;
}
.categories a {
  padding-block:8px ;
  width: 100%;
  text-align: start;
  padding-left: 4px;
  color: #E7EFFF;
}
.categories li:hover {
  background-color:#8CD8EF ;
  
}
.categories a:hover{
  color: #000;
}
.categories li {
  width: 100%;
 display: flex;
 
}
.checkoutOrder button{
  display: none;
}

.aside-edit-form input, select{
  background: #E5E0FF;
  padding: 10px;
  border-radius: 4px;
}
.aside-edit-form label{
  font-weight: bold;
}
.input-confirm{
  background: #0CAABA !important;
}
.row-pedido p{
  font-weight: bold;
}
.tablepedido-recibido p{
  border-right: 1px solid orange;
  
}
.menu-desktop p{
  color: #042642 ;

}
details{
  transition: all .3s ease;
  border: 1px solid  #c4baba;
}

input{
  color: #000;
}
select{
  color: #000;
}
.form-checkout input{
  border: 1px solid #c4baba;
  height: 35px;
  

}
@media (prefers-color-scheme: light) {
  :root {
    color: #0d1823;
    background-color: #fff;
  }
  
  button {
    background-color: #f9f9f9;
  }
  nav{
    background-color: #fff;
  
  }
  .settings-bar{
    background-color:#F6F6F8;
  }
  footer{
    background-color: #E5E0FF;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #E5E0FF;
    background-color: #0d1823;
  }
nav{
  background-color: #0d1823;

}
footer{
  background-color: #042642;
  color: #fff;

}
.text-footer ,.text-footer a{
  color: #fff;
}
  button {
    background-color: #0d1823;
   
  }
  footer{
    color: #191919;
  }
  .home-title, .home-subtitle {
    color: #E5E0FF;
  }
}
